# Binaries
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go
*.test
*.out

# Node
node_modules/
.npm
.cache

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Project specific
assets/ui/dist/*
!assets/ui/dist/.keep
ui/dist/
.output.txt
